html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside   ,canvas,details,embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type=search] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    display: inline;
    zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 3 */
    overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    height: 13px; /* 3 */
    width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* lato-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v24-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


*, html, *::before, *::after {
    box-sizing: border-box;
}

*::before, *::after {
    block-size: inherit;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    font-weight: normal;
    color: #000;
}

img {
    max-width: 100%; /*Что бы изображение не превышало размеров своего контейнера */
    height: auto; /*Что бы изображение по высоте пропорционально*/
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px; /*Что бы контент внутри не прилипал к краям при уменьшении окна*АДАПТИВ*/
}

.wrapper-full {
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px; /*Что бы контент внутри не прилипал к краям при уменьшении окна*АДАПТИВ*/

}

.section-title {
    font-size: 35px;
    font-weight: 500;
    line-height: 42px;
    padding-bottom: 10px; /*7px - отступ между заголовком и псевдоэлементом, + 3px - высота самого псевдоэлемента, 
                            что бы на эту полоску не что не наехало*/

    position: relative;
}

.section-title::after {
    display: block;
    content: ''; /*Должно быть пустым и обязательно это свойство должно присутствовать иначе элемент не появится*/
    width: 253px;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #006DFE;
}

/*Header style start*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .10s linear; /*плавный пппереход*/
    padding-bottom: 30px;
    z-index: 999; /*при таком z-index, в любом случае он будет поверх других блоков*/
}

.header_active {
    background: #0E1D28;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
}

.header_item {
    margin-right: 82px;
}

.header_item:last-child {
    margin-right: 0;
}

.header_link {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.header_link:hover, .header_link:focus, .header_link:active {
    opacity: 0.75;
}

.header_burger {
    width: 40px;
    height: 28px;
    position: relative;

    display: none;
}

.burger_line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    border-radius: 5px;
}

.burger_line_first {
    top: 0;
}

.burger_line_second {
    top: 50%;
    transform: translateY(-1px);
}
 
.burger_line_third {
    bottom: 0;
}
/*Header style end*/

/*Intro style start*/

.intro {
    min-height: 130vh; /*Мы не ограничили высоту контента, так как, если будут загружаться новые фото и высота перевысит 100vh, контент не пойдет косо*/
    background: url(../img/intro-bg.jpg) no-repeat center; /*no-repeat - что бы картинка не повторяласть*/
    background-size: cover; /*Картинка занимает весь блок, при любом размере его*/
    padding-top: 263px;

    padding-bottom: 223px; /*Сделали отступ что бы при добавлении текста, этот блок не наезжал на beneits*/
}

.intro_title {
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: white;
    max-width: 619px;
    margin-bottom: 22px;
}

.intro_subtitle {
    color: white;
    font-size: 16px;
    line-height: 24px;
    max-width: 546px;
    margin-bottom: 59px;
}

.search-form_info {
    display: flex;
    flex-wrap: wrap;
}

.search-form_field {
    width: 297px;
    background: transparent url(../img/svg/sircle-icon.svg) no-repeat left 7px; /*7px - отступ сверху*/
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500px;
    font-size: 18px;
    color: #fff;
}   

.search-form_field::placeholder {
    color: #fff;
    font-weight: 500px;
    font-size: 18px;
}

.search-form_submit {
    background-color: #1B7DFF;
    color: #fff;
    width: 171px;
    height: 58px;
    border: none;
    font-size: 24px; - Мой вариант*/

    padding: 15px 39px;
    text-transform: uppercase; /*делает текс заглавными буквами*/
    font-weight: 500;
    font-size: 24px;
    color: white;
    border: 0;
}

.search-form_submit:hover, .search-form_submit:focus, .search-form_submit:active {
    background-color: #0560d8;
}


/*Intro style end*/

/*Benefits style start*/
.benefits {
    margin-bottom: 131px;
}

.benefits_wrap {
    max-width: 1256px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 2px 20px 0px #15182429;

    position: relative;
}

.benefits_title {
    width: 100%;
    font-size: 35px;
    font-weight: 500;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    transform: translateY(-99%);

    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

.benefits_carts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;

}

.benefits_cart {
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits_cart-pic {
    max-width: 66px;
    margin-bottom: 37px;
}

.benefits_cart-thumb {
    display: block;
}

.benefits_cart_title {   
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 26px;
}

.benefits_cart-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}

.benefits_cart-button {
    display: inline-block;
    padding-right: 56px;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #006DFE;
    background: url(../img/svg/errow-right-icon.svg) no-repeat 95% center;
    transition: 0.5s all; /*Плавность елемента 5 секунды перемещается*/
}

.benefits_cart-button:hover, .benefits_cart-button:focus {
    background: url(../img/svg/errow-right-icon.svg) no-repeat right center;
}
/*Benefits style end*/

/*Places style start*/

.places {
    margin-bottom: 131px;
}
.places_caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 36px;
}

.places_title {
    margin-right: 15px;
}
.places_view-all {
    font-size: 16px;
    text-decoration: none;
    color: #006DFE;
    background: url(../img/svg/errow-right-icon.svg) no-repeat right center;
    padding-right: 56px;
}

.places_view-all:hover, .places_view-all:focus {
    opacity: 0.65;
}

.places_carts {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.places_cart {
    position: relative;
    overflow: hidden; /*Изучить!!!*/
}

.places_cart::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(12, 12, 12, 0.4);
    top: 0;
    left: 0;
    z-index: 2;
}

.places_cart:hover .places_cart-pic {
    transform: scale(1.05); /*Изучить!!!*/
}

.places_cart-title {
    font-size: 50px;
    line-height: 60px;
    color: white;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}

.places_cart_size_lg {
    grid-column: span 3;
}

.places_cart_size_sm {
    grid-column: span 2;
}

.places_cart-pic {
    width: 100%;
    transition: .20s; /*Изучить!!!*/
}

.places_cart-pic_size_lg {
    height: 354px;
    object-fit: cover;
}

.places_cart-pic_size_sm {
    height: 283px;
    object-fit: cover;
}

.places_cart-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
/*Places style end*/

/*Toers style start*/
.tours {
    margin-bottom: 139px;
}

.toers_tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px;
    align-items: center;
}

.tour_title {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 85px;
}

.tour_info {
    padding-left: 47px;
}

.tour_desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
}

.tour_more {
    display: inline-block;
    padding-right: 56px;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #006DFE;
    background: url(../img/svg/errow-right-icon.svg) no-repeat 95% center;
    transition: 0.5s all;
}

.tour_more:hover, .tour_more:focus {
    background: url(../img/svg/errow-right-icon.svg) no-repeat right center;
}

.tour {
    margin-bottom: 77px; 
}
/*Toers style end*/

/*Top places style start*/
.top {
    margin-bottom: 86px;
}

.top_cart {
    display: flex; /*сделано для правильного выравнивания кнопок если будет большее количество контента*/
    flex-direction: column; /*сделано для правильного выравнивания кнопок если будет большее количество контента*/
}

.top_title {
    margin-bottom: 54px;
}

.top_carts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px;
}

.top_cart-pic {
    position: relative;
    margin-bottom: 45px;
}

.top_cart-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #15182499;
    padding: 16px 25px;
}

.top_cart-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: white;
    margin: 0 auto 0 0; /*auto слва так как, есть маржин справа*/
}

.top_cart-likes {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    padding-right: 20px;
    margin-right: 14px;
    background: url(img/svg/icon-like.svg) no-repeat right;
}

.top_cart-comments {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    padding-right: 23px;
    background: url(img/svg/icon-comment.svg) no-repeat right;
}

.top-cart_desc {
    margin-bottom: 31px;
}

.top-cart_more {
    width: 118px; /*сделано для правильного выравнивания кнопок если будет большее количество контента*/
    background-color: #1B7DFF;
    color: #fff;
    text-decoration: none;
    font-size: 16px;

    padding: 12px 19px;
    text-transform: uppercase; /*делает текс заглавными буквами*/
    font-weight: 500;
    color: white;
    margin: auto 0 0 0;
}

.top-cart_more:hover, .top-cart_more:focus, .top-cart_more:active {
    background-color: #0560d8;
}
/*Top  places style end*/

/*Videos style start*/
.videos {
    width: 100%;
}

.videos_wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.video_item {
    padding-top: 56.25%;
}

.video__frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Videos style end*/

/*Footer style start*/
.footer {
    background: #0E1D28;
    padding: 119px 0;
}

.footer_item {
    display: flex;
    flex-wrap: wrap;
}

.footer_logo {
    width: 50%;
}

.footer_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.footer_menu-title {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.footer_menu-link {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    text-decoration: none;
}

.footer_menu-link:hover, .footer_menu-link:focus, .footer_menu-link:active, .footer_menu-link:visited {
    opacity: 75%;
}
/*Footer style end*/

/*Media style start*/
@media screen and (max-width: 770px) {
    .header_burger {
        display: block;
    }

    .header_nav {
        width: 100%;
        height: 100%;
        position: fixed; /*position: fixed - всегда выравнивает относительно всего экрана*/
        top: 0;
        left: 0;
        background-color: black;
        z-index: 10;

        padding: 75px;
        transform: translateX(100%);
        transition: .2s all linear;
    }

    .header_nav-active {
        transform: translateX(0);
    }

    .header_item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .header_item:last-child {
        margin-bottom: 0;
    }

    .header_link {
        font-size: 42px;
        line-height: 48px;
    }

    .header_nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }

    .header_nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
    }

    .header_nav-close-line:first-child {
        transform: translateY(0px) rotate(45deg);
    }

    .header_nav-close-line:last-child {
        transform: translateY(0px) rotate(-45deg);
    }
}


/*Media style end*/


/*fieldset - тег в html, предназначен для группировки элементов формы,
для группирование inputov.
Особенность: в стилизации у него есть особенность, например
что бы выровнять элементы внутри него используют обертку в которые уже добавляют элементы.
! Если формы посложнее, используют списки.
В данном случае, мы используем для обёртки элементов тег p.

.benefits_cart-thumb {
    display: block;
}

и  .benefits_cart-pic {
    max-width: 66px;
}

Сделанно для того, что бы убрать отступ в svg изображении.

*КАК СДЕЛАТЬ ВИДЕО АДАПТИВНЫМ?

1. Создаём в index блок video_item
2. Создаём класс video_item и прописываем padding-top: 100%;
- За счёт того, что паддинг растягивается на 
такую высоту что и videos_wrapper, я всегда буду получать
при любой высоте и ширине экрана ровное квадратное видео.

3. Вычисляем сколько в процентах выходит паддинг-топ.
Как вычисляется: ;
  9 делим на 16 и умножаем на 100 и выходит 56.25% и его и пишем в паддинг-топ.

4. Убираем ширину и высоту у фрейма.
5. Прописываем фраму класс .video__frame и пишем в css:

.video__frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

а так же прописываем классу .videos_wrapper в css:
position: relative;

Как сделать адаптив на сайте:
1. Задать падинги слева справа для всех врапперов-контейнеров
2. Делаем адаптив для мобайл (на телефон) при экране менее 770px;
*/
